<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>

<%- include('./partials/myNavbar'); %>
<div class="container">
    <div class="jumbotron">
        <h1><%= __('about...') %></h1>
        <p><%= __('about_p1') %></p>
        <p><%= __('about_p2') %></p>
        <p><%= __('about_p3') %></p>
        <p><a href="/<%= locale %>/"><%= __('clickHere') %></a> <%= __('about_p4') %></p>
    </div>
</div>


<%- include('./partials/myFooter'); %>

</body>
</html>