<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>

<%- include('./partials/myNavbar'); %>
<div class="container">
  <div class="jumbotron justify-content-center">
    <div class="container text-center">
      <h1>RANKED ARAM!</h1>

      <div style="display:flex ; flex-direction:row ; justify-content:center ; align-items:center" class="form-group">
        <label style="margin-right:2px" class="col-form-label" for="name"><%= __('enter_sumName') %></label>
        <%- include('./partials/fullGameTagInput', {context: 'index', goButtonColor: '#e6dfdf', goButtonClasses: 'btn btn-primary', inputClasses: 'full-game-tag-input__input--index'}) %>
      </div>

    </div>
  </div>
</div>


<%- include('./partials/myFooter'); %>

</body>
</html>