<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
  <div class="jumbotron">
    
    <div class="player-header">
      <div>
        <h1 class="player-header-name__icon-and-name">
          <img 
            src="/ddragonData/img/profileicon/<%= sum.profileIconId %>.png" 
            class="player-header--summoner-icon"
            width="80"
            height="80">
          <div><%= sum.name %></div>        
        </h1>
        <p><%= rankString %> &nbsp;&nbsp;&nbsp;&nbsp; w: <%= sum.wins %> - l: <%= sum.loss %>&nbsp;&nbsp;&nbsp;
          <% let tot = sum.wins + sum.loss; %>
          <%= tot < 5 ? " --  placements : "+ tot+"/5" : ""; %>
        </p>
      </div>

      <img
        id="rank-image"
        src="<%= rankIconSrc %>"
        class="player-header__rank-icon">
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <% sum.history2print.forEach(function(match){ %>
      <%- include('./partials/historyElement', {match: match, version: version}); %>
    <% }); %>
  </div>
</div>
<%- include('./partials/myFooter'); %>
</body>
</html>