<p> 
  <img src="http://ddragon.leagueoflegends.com/cdn/<%= version %>/img/champion/<%= match.championName %>.png" 
  width="50px" height="50px"><%= match.championId %>

<% if(match.win) { %>
  <span style="color:green;font-weight:bold">Victoire ! -</span><span>&nbsp; Score : <%= match.k %>/<%= match.d %>/<%= match.a %> - valeur : <span style="color:green;font-weight:bold">+<%= match.lpValue %></span> date : <%= new Date(match.timestamp).toLocaleString() %></span>
<% } else {%>
  <span style="color:red">Défaite ! -</span><span>&nbsp; Score : <%= match.k %>/<%= match.d %>/<%= match.a %> - valeur : <span style="color:red">-<%= match.lpValue %></span> date : <%= new Date(match.timestamp).toLocaleString() %></span>
  <% } %>
</p>
