<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/<%= locale %>/">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

      <li class="navSearch">

        <script>
            function navSearch() {
                let name = document.getElementById('sumName').value;
                if(name != "") {
                  let lang = "<%= locale %>";
                  if(lang == "en")
                    window.location.href = '/player/'+name;
                  else
                    window.location.href = '/'+lang+'/player/'+name;
                }                
            }
        </script>

            <input type="text" id="sumName" placeholder="<%= __('pseudo') %>" name="search">
            <button type="button" id="navGo" onclick="navSearch()" class="nav-search-button">GO</button>
            <script>
          var navInput = document.getElementById("sumName");
          navInput.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("navGo").click();
          }
          });
          </script>
        </li>
        <li id="about"><a href="/<%= locale %>/about"><%= __('about') %></a></li>
        <li id="contact"><a href="/<%= locale %>/contact"><%= __('contact') %></a></li>
        
        <li id="lang" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= locale.toUpperCase(); %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%= '/en' + currentURL %>">EN</a></li>
            <li class="divider"></li>
            <li><a href="<%= '/fr' + currentURL %>">FR</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>