<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
    <div class="jumbotron">
        <h1><%= name %> <%= __('404_title') %>n'a pas été trouvé :(</h1>
        <p><%= __('404_p1') %>Le nom d'invocateur est erroné ou provient d'une autre région que EUW.</p>
    </div>
</div>

<%- include('./partials/myFooter'); %>
</body>
</html>