<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
    <div class="jumbotron">
        <h1><%= name %> <%= __('404_title') %></h1>
        <p><%= __('404_p1') %></p>
    </div>
</div>

<%- include('./partials/myFooter'); %>
</body>
</html>