<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar', {lang: lang}); %>

<div class="container">
  <div class="jumbotron">
    
    <h1>
      <img src="http://ddragon.leagueoflegends.com/cdn/<%= version %>/img/profileicon/<%= sum.profileIconId %>.png" width="80px" height="80px">Bienvenue <%= sum.name %></h1>
      <p>Vous avez été inscrit au magnifique système ALL RANDOM ALL RANK. A partir de maintenant vos parties d'ARAM seront comptabilisées dans un classement officieux conçu par mes soins... Parviendrez vous à atteindre la ligue challenger ?</p>
    </div>
  </div>

<%- include('./partials/myFooter', {lang: lang}); %>
</body>
</html>