<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
  <div class="jumbotron">
    
    <h1>
      <img src="/ddragonData/img/profileicon/<%= sum.profileIconId %>.png" width="80px" height="80px"><%= __('firstTime_welcome') %> <%= sum.name %></h1>
      <p><%= __('firstTime_p1') %></p>
    </div>
  </div>

<%- include('./partials/myFooter'); %>
</body>
</html>