<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
    <div class="jumbotron">
        <h1>Ladder</h1>
        <p>
          <%= __('ladder_update') %>
          <span id="ladderTimer">...</span>
        </p>
        <%- include('./partials/pageSelector', { includeId: 1 }); %>
        <div>
          <% var i = (page-1) * pageSize; %>
          <% ladder.forEach(e => { %>
            <% i++; %>
            <%- include('./partials/ladderElement', {e: e, i: i}); %>
          <% }); %>
        </div>
        <%- include('./partials/pageSelector', { includeId: 2 }); %>
    </div>
</div>

<script>
  let x = setInterval(() => {
    let now = new Date().getTime();

    //ladder updated every hour
    let timeLeft = 3_600_000 - now%3_600_000;
    timeLeft /= 1000;
    document.getElementById('ladderTimer').innerHTML = 
      Math.floor(timeLeft/60)
      + ':'
      + Math.floor(timeLeft%60).toString().padStart(2,'0');
  
    if(timeLeft < 1) {
      clearInterval(x);
      document.getElementById('ladderTimer').innerHTML = `<a href=""><%= __('clickHere2Reload_2') %></a>`;
    }
  }, 1000);
</script>

<%- include('./partials/myFooter'); %>
</body>
</html>