<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
    <div class="jumbotron">
        <h1 style="margin-bottom: 16px;">Leagues</h1>
        <p>
          <%= __('climb_the_ladder') %>
        </p>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1><%= __('leagues_noobs') %></h1>
        <p><%= __('dont_we_all') %></p>

        <div class="league-big-images-layout">
            <div class="league-big-image">
                <img src="/img/noob-3.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/noob-2.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/noob-1.png" class="image-auto-resize">
            </div>
        </div>
        <div class="league-captions">
            <h3><%= __('Noob') %> III</h3>
            <h3><%= __('Noob') %> II</h3>
            <h3><%= __('Noob') %> I</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1><%= __('leagues_papers') %></h1>
        <p><%= __('real_business') %></p>

        <div class="league-big-images-layout">
            <div class="league-big-image">
                <img src="/img/paper-3.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/paper-2.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/paper-1.png" class="image-auto-resize">
            </div>
        </div>
        <div class="league-captions">
            <h3><%= __('Papier') %> III</h3>
            <h3><%= __('Papier') %> II</h3>
            <h3><%= __('Papier') %> I</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1><%= __('leagues_carboards') %></h1>
        <p><%= __('stronger_than_paper') %></p>

        <div class="league-big-images-layout">
            <div class="league-big-image">
                <img src="/img/cardboard-3.svg" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/cardboard-2.svg" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/cardboard-1.png" class="image-auto-resize">
            </div>
        </div>
        <div class="league-captions">
            <h3><%= __('Carton') %> III</h3>
            <h3><%= __('Carton') %> II</h3>
            <h3><%= __('Carton') %> I</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1><%= __('leagues_plasters') %></h1>
        <p><%= __('this_is_not_platinium') %></p>

        <div class="league-big-images-layout">
            <div class="league-big-image">
                <img src="/img/plaster-3.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/plaster-2.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/plaster-1.png" class="image-auto-resize">
            </div>
        </div>
        <div class="league-captions">
            <h3><%= __('Plâtre') %> III</h3>
            <h3><%= __('Plâtre') %> II</h3>
            <h3><%= __('Plâtre') %> I</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1><%= __('leagues_woods') %></h1>
        <p><%= __('I_love_lost_in_woods') %></p>

        <div class="league-big-images-layout">
            <div class="league-big-image">
                <img src="/img/wood-3.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/wood-2.png" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/wood-1.png" class="image-auto-resize">
            </div>
        </div>
        <div class="league-captions">
            <h3><%= __('Bois') %> III</h3>
            <h3><%= __('Bois') %> II</h3>
            <h3><%= __('Bois') %> I</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1><%= __('leagues_plastics') %></h1>
        <p><%= __('this_is_hard_to_recycle') %></p>

        <div class="league-big-images-layout">
            <div class="league-big-image">
                <img src="/img/plastic-1.svg" class="image-auto-resize">
            </div>
            <div class="league-big-image">
                <img src="/img/plastic-3.svg" class="image-auto-resize">
            </div>
        </div>
        <div class="league-captions">
            <h3><%= __('Plastique') %></h3>
            <h3><%= __('Grand Plastique') %></h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1><%= __('leagues_bronzeV') %></h1>
        <p><%= __('you_did_it_you_son_of_a_bitch') %></p>

        <img src="/img/bronze_5.png" class="league-big-image" style="margin: auto; display: block">
    </div>
</div>

<%- include('./partials/myFooter'); %>
</body>
</html>