<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
  <div class="jumbotron">
    
    <h1>
      <img src="/ddragonData/img/profileicon/<%= sum.profileIconId %>.png" 
      width="80px" height="80px"><%= sum.name %></h1>
    <p><%= rankString %> &nbsp;&nbsp;&nbsp;&nbsp; w: <%= sum.wins %> - l: <%= sum.loss %>&nbsp;&nbsp;&nbsp;
      <% let tot = sum.wins + sum.loss; %>
      <%= tot < 5 ? " --  placements : "+ tot+"/5" : ""; %>
    </p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <% sum.history.forEach(function(match){ %>
      <%- include('./partials/historyElement', {match: match, version: version}); %>
    <% }); %>
  </div>
</div>
<%- include('./partials/myFooter'); %>
</body>
</html>