<p <%= summonerName === ladderElement.name ? 'id=searchedSummoner' : '' %>>
  <a href="/<%= locale %>/player/<%= ladderElement.name.split('#')[0] %>/<%= ladderElement.name.split('#')[1] %>"><img src="/ddragonData/img/profileicon/<%= ladderElement.iconId %>.png" 
  width="50px" height="50px"> </a>


  <span style="color: <%= summonerName === ladderElement.name ? 'red' : 'black' %>;
        font-weight:bold"><%= i %> -</span>
  <span style="color: <%= summonerName === ladderElement.name ? 'red; font-weight: bold;' : 'black' %>;">
   <%= ladderElement.name %> - <%= leaguejs.rank2string(ladderElement.rank, __) %>
 </span>
</p>


<% if (summonerName === ladderElement.name) { %>
<script type="text/javascript">
  document.getElementById('searchedSummoner').scrollIntoView();
</script>
<% } %>
